
[submodule "service-reviews"]
	path = service-reviews
	url = https://github.com/huang-pei-mei/reviews-service.git
[submodule "service-summary"]
	path = service-summary
	url = https://github.com/huang-pei-mei/FEC-Publishers-Summary.git
[submodule "service-title"]
	path = service-title
	url = https://github.com/huang-pei-mei/title-service.git
[submodule "service-price"]
	path = service-price
	url = https://github.com/huang-pei-mei/price-service.git
[submodule "service-agg"]
	path = service-agg
	url = https://github.com/huang-pei-mei/FEC-Agg.Review.git
