[submodule "service-price"]
	path = service-price
	url = https://github.com/huang-pei-mei/price-service.git
[submodule "service-reviews"]
	path = service-title
	url = https://github.com/huang-pei-mei/title-service.git
[submodule "service-summary"]
	path = service-summary
	url = https://github.com/huang-pei-mei/FEC-Publishers-Summary.git
